.DS_Store
node_modules
/dist
/Web全栈架构师033期
/video
/download-sh
/kkb-serve

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
download.log
download_err.log
output
currentConfig
# Editor directories and files
nohup.out
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.mp4
*.pdf
# all.sh
# cookie.txt
# name.txt